<div class="px-4">
<!--  <po-progress p-value="25" p-text="carregando..."></po-progress>-->
</div>


<div class="px-4 py-5">
  Usando o container:
  <po-container p-height="400px">
    <div class="box-container p-row">
      <po-input
        p-clean="true"
        class="po-lg-3"
        (p-change-model)="returnInputChange($event)"
        [p-placeholder]="'Placeholder'"
        p-mask="999.999.999-99"
        [p-label]="'Campo com a opção clean:'"
        p-icon="po-icon-user"
        p-pattern=" '^(2[0-3]|[01][0-9]):?([0-5][0-9])$'">
      </po-input>

      <po-switch
        class="po-lg-2"
        name="optionDisabled"
        [(ngModel)]="inputRequired"
        (p-change)="modelSwich($event)"
        p-label="Required">
      </po-switch>

        <po-datepicker-range
          class="po-lg-3"
          name="datepickerRange"
          p-label="Datepicker Range">
        </po-datepicker-range>

   </div>

  <div class="p-row">
      <po-multiselect
        class="po-lg-3"
        name="multiselect"
        p-label="Portinari Multiselect"
        [p-options]="options"
        [(ngModel)]="textMultiselect">
      </po-multiselect>



  </div>

    <br>
  <div class="po-row">
    <po-password
      class="po-lg-3"
      name="password"
      p-label="Password">
    </po-password>
  </div>
    <br>
  <div class="po-row">
    <span class="col-3">(p-change-model): {{textModel}}</span>
    <span class="po-lg-3">Multiselect: {{textMultiselect}}</span>
  </div>

  </po-container>
</div>







